body, html {
    font-family: 'Spartan', sans-serif;
    background-color: var(--main-background);
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100vw;
    padding: 10px;
    max-width: 550px;
}

.calculator-header {
    display: flex;
    margin: 10px 10px;
    justify-content: space-between;
}

.calculator-result {
    height: 150px;
    display: flex;
    color: white;
    padding: 0 25px;
    max-width: 100%;
    border-radius: 10px;
    justify-content: flex-end;
    background-color: var(--screen-background);
}

.calculator-result span {
    font-size: 40pt;
    align-self: center;
}

.calculator-keyboard {
    width: 100%;
    padding: 40px;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: var(--toggle-background);

    gap: 30px;
    display: grid;
    grid-template-rows: repeat(5, 50px);
    grid-template-columns: 2fr 2fr 2fr 2fr;
}

.calculator-button {
    font-size: 30px;
    position: relative;
    border-radius: 10px;
    outline: none; border: none;
    color: var(--toggle-background);
    font-family: 'Spartan', sans-serif;
    background-color: var(--key-background-3);
    box-shadow: inset 0px -5px 1px -1px var(--key-shadow-3);
}

.calculator-button:active {
    top: 2px;
    /* box-shadow: inset 0px -3px 1px -1px var(--key-shadow-3); */
}

.calculator-button--action {
    color: white;
    font-size: 20px;
    background-color: var(--key-background-1);
    box-shadow: inset 0px -5px 1px -1px var(--key-shadow-1);
}

.calculator-button--result {
    color: white;
    font-size: 20px;
    background-color: var(--key-background-2);
    box-shadow: inset 0px -5px 1px -1px var(--key-shadow-2);
}

.calculator-button span {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.calculator-keyboard > * {
}

.button-reset {
    grid-column-start: 1;
    grid-column-end: 3;
}
.button-result {
    grid-column-start: 3;
    grid-column-end: 5;
}


/* RADIO LIKE SWITCH */
.radio {
    display: flex;
}

.radio-label {
    margin-right: 20px;
}

.radio-item input {
    margin: 0;
    padding: 0;
    width: 18px;
    height: 13px;
    appearance: none;
}

.radio-wrapper {
    position: absolute;
    height: 100%;
    width: calc(100% - 5px);
}

.radio-group {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 25px;
    justify-content: center;
    background-color: var(--toggle-background);
}

.radio-item {
    z-index: 10;
    position: relative;
}

.radio-item-label {
    position: absolute;
    bottom: 100%; left: 50%;
    transform: translate(-50%, -50%);
}

.radio-indicator {
    top: 50%; left: 0;
    position: absolute;
    border-radius: 100%;
    background-color: var(--key-background-2);
    width: 13px; height: 13px;
    transform: translate(0%, -50%);
}